*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
}

:root{
    --bg-color: #191919;
    --secont-bg-color: #101010;
    --main-color: #e9204f;
    --text-color: #fff;
    --second-color: #e4e4e4;
    --other-color: #c6cd8f;

    --h1-font: 7rem;
    --h2-font: 3.5rem;
    --p-font: 1.1rem;

}

body{
    color: var(--text-color);
    background-color: var(--bg-color);
}

header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 11%;
    border-bottom: 1px solid transparent;
    transition: all ease .50s;
}

.logo {
    color: #fff;
    font-weight: 700;
    font-size: 45px;
    text-decoration: none;
    font-family: 'Permanent Marker', sans-serif;
}

.navlist
{
    display: flex;
}

.navlist a{
    color: #ffffff;
    font-size: var(--p-font);
    margin: 0 30px;
    font-weight: bold; 
    transition: all ease .40s;
}

.navlist a:hover{
    color: #a570ff;
}

.navlist i{
    color: var(--second-color);
    font-size: 1rem;
    margin: 0 40px 0 0;
    font-family: 'Do Hyeon', sans-serif;
    transition: all ease .40s; 
    transform: skewX(0);
}

.navlist i:hover{
    color: #a570ff;
}

.navlist j{
    color: var(--second-color);
    font-size: 0.5rem;
    transition: all ease .40s;  
    padding: 2px 10px; 
}

.navlist j:hover{
    color: #a570ff;

}


section{
    padding: 120px 5% 100px;
}

section.home {
    width: 100vw; 
    height: 90vh;
    background-position: center -100px; /* 배경 이미지 이동 */
}

.login{
    position: relative;
    min-height:  100vh;
    width: 100%;
    background-size: cover;
    background-position: right;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*background: #101010;*/
    background: url(../images/back.png);
    
}


/* 드롭다운 메뉴*/
.dropbtn {
    cursor: pointer;
  }
  

  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  

  .dropdown-content a {
    color: black;
    padding: 8px 12px; 
    text-decoration: none;
    display: block;

   
  }
  
  
  .dropdown-content a:hover {
    background-color: transparent; 
  }
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.wrapper {
    margin-top: 40px;
    width: 500px;
    padding: 75px;
    border: 2px solid #d6d6d6;  
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
}




.wrapper h1 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 60px;
    margin-top: -20px;
    text-align: center;
}

.wrapper .input-field {
    opacity: 0;
    z-index: -999;
    position: absolute;

}

.wrapper label,

/* 로그인 버튼 */
.wrapper input[type="submit"] {
    width: 100%;           
    padding: 5px;         
    border: 3px solid #ffffff;  
    background-color: #ffffff; 
    color: #333;           
    font-size: 16px;       
    font-weight: bold;     
    border-radius: 30px;   
    cursor: pointer;       
    outline: none;        
    transition: border-color 0.3s; 
    margin-bottom: 30px;
}


.wrapper input[type="submit"]:hover {
    border-color: #007bff; 
    background-color: none;
}




.wrapper a {
    color: #007bff;
    text-decoration: none;
    margin-left: 8px;
}


.wrapper a:hover {
    text-decoration: underline;
    font-weight: bold;

}


.wrapper input[type="text"], 
.wrapper input[type="password"] {
    background: none;          
    border: none;            
    border-bottom: 2px solid #d6d6d6;  /* 아래쪽에 테두리(밑줄) 추가 */
    outline: none;              
    padding: 5px 0;            
    font-size: 16px;           
    width: 100%;               
    box-sizing: border-box;    
}

/* 이메일 스타일 */
.wrapper input[type="text"] {
    display: block; 
    margin-bottom: 30px;  
    width: 100%;   
}

/* 비밀번호 스타일 */
.wrapper input[type="password"] {
    display: block;  
    margin: 15px 0; 
    width: 100%;    
}



.wrapper input[type="text"]:focus, 
.wrapper input[type="password"]:focus {
    border-bottom-color: #007bff;
}

.wrapper input[type="text"]::placeholder, 
.wrapper input[type="password"]::placeholder {
    color: #ffffff;  
}


  
  
  
  



















































/*모바일 화면*/

@media (max-width:1600px){
    header{
        padding: 14px 4%;
    }
    section{
        padding: 100px 5% 80px;
    }
}

@media (max-width:1200px){
    .home{
        min-height: 90vh;
    }
    .navlist{
        margin: 0 20px;
    }
    :root{
        --h1-font: 5rem;
        --h2-font: 3rem;
        --p-font: 1rem;       
    }
}

@media (max-width:1060px){
    .about{
        grid-template-columns: 1fr;
    }
    .about-img{
        text-align: center;
        order: 2;
    }
    .about-img img{
        max-width: 100%;
        width: 600px;
        height: auto;
    }
    .service-item{
        grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    }
    .concat{
        grid-template-columns: 1fr;
    }
    .left-concat{
        margin:auto;
    }
}
@media (max-width:1060px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: -800px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction:column;
        background: #000;
        padding:20px 0;
        text-align: left;
        transition: all .50s ease;
    }
    .navlist a{
        display: block;
        font-size: 20px;
        padding: 12px 0;
    }
    .navlist.open{
        top:100%;
    }
}
@media (max-width:600px){
    .home{
        min-height: 80vh;
    }
    :root{
        --h1-font: 5rem;
        --h2-font: 3rem;
        --p-font: 1rem;       
    }
    .hero-text h4{
        font-size: 18px;
        word-spacing: 10px;
        margin-bottom: 30px;
    }
    .btn{
        padding: 10px 35px;
    }
    .left-concat{
        gap: 3rem;
    }
}


