@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
}

:root{
    --bg-color: #191919;
    --secont-bg-color: #101010;
    --main-color: #e9204f;
    --text-color: #fff;
    --second-color: #e4e4e4;
    --other-color: #c6cd8f;

    --h1-font: 7rem;
    --h2-font: 3.5rem;
    --p-font: 1.1rem;

}

body{
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #dbe3ff;
    /*background: url(../images/dash_back.png);*/
    background-attachment: fixed; 
    color: var(--text-color);
  
}

.navlist a{
    color: #ffffff;
    font-size: var(--p-font);
    margin: 0 30px;
    font-weight: bold; 
    transition: all ease .40s; 
}

.navlist a:hover{
    color: #a570ff;
}

  .navlist {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%;
  }
  

  .user-name {
    font-weight: bold;
  }
  

header{
    
    color: white; 
    text-align: center; 
    width: 100%;
    height: 50px; 
    background-color: rgb(29, 29, 29); 
  
}

.logo, .user-name {
    margin-right: 1000px !important;
  }
  
  
.logo {
    color: #fff;
    font-weight: 700;
    font-size: 30px !important;
    text-decoration: none;
    margin-right: 100px;
    font-family: 'Permanent Marker', sans-serif;
  
}

section.testlist {
    padding: 80px 0;
    margin-top: -15px;
  }
  
/* 게시판 부분 CSS */
h3 {
    font-size: 40px;
    margin-left: 655px;
    margin-bottom: 15px;
    color: #000000;
  }

  

#board-list {
    margin-top: 20px;
  }
  
  .board-table {
    width: 100%;
    border-collapse: collapse;
    font-weight: bolder;
    margin-top: 30px;
    color: #000000;
  }
  
  .board-table th, .board-table td {
    border-bottom: 1px solid #000000;
    padding: 8px;
    text-align: left;
    line-height: 2.5;
    color: #000000;
  }


  
  .th-num {
    width: 10%;
    color: #000000;
   
  }
  
  .th-title {
    width: 90%;
    color: #000000;
  }
  
  .board-link {
    text-decoration: none;
    color: #000000;
  }
  
  .board-link:hover {
    color: rgb(197, 131, 255);
  }
  

  .board-table thead th {
    border-top: 1px solid #000000;
  }


  
  .container {
    width: 1100px;
    margin: 0 auto;
  }
  
  .pagination {
    margin-left: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bolder;
    color: black;
    font-size: 22px;
  }
  

  