<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Eye Tracking</title>
</head>
<body>
<div style="text-align:center;">
    <h1>Eye Tracking</h1>
    <img src="/video_feed" alt="Eye Tracking">
</div>

<script>
    function checkFaceCount() {
        fetch("http://172.17.40.222:5000/face_info")
        .then(response => response.json())
        .then(data => {
            console.log(data);
            if (data.face_count > 1) {
                alert('얼굴 많아!');
            }
            if (data.no_face_for >= 5) {
                alert('어디갔어!');
            }
            if (data.face_changed) {
                alert('사람이 변했어!');
            }
            if (data.eye_deviation_alert) {
                alert('눈동자가 많이 쏠렸습니다!');
            }
            if (data.head_rotation_alert) {
                alert('고개 회전 감지!');
                hasShownHeadRotationAlert = true;
            } else if (!data.head_rotation_alert) {
                hasShownHeadRotationAlert = false;
            }
        });
}
setInterval(checkFaceCount, 1000);  // Check every 1000 milliseconds (1 second)
</script>
</body>
</html>