
<html>
  <head>
    <meta charset="uft-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <title>face pse main page</title>

    <!--- cutom css line -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/accept_cam.css') }}">

    <!--- box icons link -->
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <!--- google fonts link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

</head>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>웹 캠 동의 페이지</title>
</head>

<body>

    <section class="accept_cam" id="accept_cam">
        <div class="center-container">
            <div class="wrapper">


    <div>
        <h1>웹 캠 엑세스 동의</h1>

        <div>
            <p>✔️이용약관</p>
            <div class="iframe-container">
                <iframe src="{{ url_for('iframe') }}"></iframe>
            </div>

            
        </div>

        <label><input type="checkbox" id="webcamAgree"> 이용약관 동의</label>

        <div>
            <p>✔️개인정보 이용 동의</p>
            <div class="iframe-container">
                <iframe src="{{ url_for('iiframe') }}"></iframe>
            </div>

         
        </div>
        <label><input type="checkbox" id="infoAgree"> 개인정보 이용 동의</label><br>

        <button id="finalAgreeBtn" disabled>동의</button>

        <script>
            const webcamCheckbox = document.getElementById('webcamAgree');
            const infoCheckbox = document.getElementById('infoAgree');
            const finalAgreeBtn = document.getElementById('finalAgreeBtn');
            const q_id = {{ q_id }};

            webcamCheckbox.addEventListener('change', checkFinalAgree);
            infoCheckbox.addEventListener('change', checkFinalAgree);

            function checkFinalAgree() {
                if (webcamCheckbox.checked && infoCheckbox.checked) {
                    finalAgreeBtn.removeAttribute('disabled');
                } else {
                    finalAgreeBtn.setAttribute('disabled', 'disabled');
                }
            }

            finalAgreeBtn.addEventListener('click', async () => {
                const stream = await navigator.mediaDevices.getUserMedia({ video: true });
                window.location.href = `/test/${q_id}`;
            });
        </script>
    </div>
</div>
</body>
</section>
</html>
