<!DOCTYPE html>
<html>
<head>
    <title>FacePse Admin Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            width: 80%;
            margin: 0 auto;
        }
        h1 {
            text-align: center;
        }
        #problem-list {
            list-style: none;
            padding: 0;
        }
        .problem-item {
            border: 1px solid #ccc;
            margin: 10px 0;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Admin Page</h1>
        <ul id="problem-list">
            {% for i in q_list %}
            <li class="problem-item">
                <h3>{{ i[0] }}. {{ i[2] }}</h3>
                <button onclick="solveProblem(1)">결과 보기</button>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="pagination">
        {% if current_page > 10 %}
          <a href="{{ url_for('coding_test.admin', page=current_page-10) }}">&lt;&lt;</a>
        {% endif %}
  
        {% for i in range(current_page - (current_page-1)%10, current_page - (current_page-1)%10 + 10) %}
          {% if i <= total_pages %}
            {% if i == current_page %}
              <span>{{ i }}</span>
            {% else %}
              <a href="{{ url_for('coding_test.admin', page=i) }}">{{ i }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
  
        {% if current_page // 10 < total_pages // 10 %}
          <a href="{{ url_for('coding_test.admin', page=current_page+10) }}">&gt;&gt;</a>
        {% endif %}
      </div>

    <script>
        function solveProblem(problemId) {
            // 문제를 풀기 위한 로직을 여기에 추가하세요.
            alert(`문제 ${problemId}를 풉니다!`);
        }
    </script>
</body>
</html>
