
<html>
  <head>
    <meta charset="uft-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <title>face pse main page</title>

    <!--- cutom css line -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard_detail.css') }}">

    <!--- box icons link -->
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <!--- google fonts link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

</head>

<header>
    
  <ul class="navlist">
    <a href="{{ url_for('home') if current_user.is_authenticated else url_for('home') }}" class="logo">FACE PSE</a>
        
    <li class="logout">
      <span style="pointer-events: none; font-weight: bold;">안녕하세요, {{ current_user.username }}님!😊</span>
      <a href="/logout">LOGOUT</a>
  </li>
  
  </ul>

</header>
<title>Dashboard - {{ q_list.q_name }}</title>


<section class="dashboard_detail" id="dashboard_detail">
  <h1>{{ q_list.q_name }} </h1>
<div class="card-container">
  <!-- Student Card 1 -->
  {% for submission, username, (minutes, seconds) in submissions %}
  <div class="card" onclick="viewSubmissionDetails({{ submission.sub_id }})">
    <div class="card-image"></div> <!-- Placeholder for the image -->
    <div>
      <div class="card-header">이름: {{ username }}</div>
      <div class="card-info">시작 시간: {{ submission.start_time.strftime('%Y/%m/%d %H시 %M분') }}</div>
      <div class="card-info">소요 시간: {{ minutes }}분 {{ seconds }}초</div>
      {% if submission.is_correct %}
      <div class="card-info correct"><span class="answer">정답 여부: </span>정답😊</div>
      {% else %}
      <div class="card-info incorrect"><span class="answer">정답 여부:</span> 오답😭</div>
      {% endif %}
    
  </div>
</div>
{% endfor %}
<script>
    function viewSubmissionDetails(subId) {
      window.location.href = '/submission_detail/' + subId;  // 새로운 라우트로 이동
    }
    </script>
</body>
</section>
</html>
