<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"> <!-- "uft-8"를 "utf-8"로 수정 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Codepse main</title>
  
    <!-- custom CSS link -->
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
  
    <!-- box icons link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  
    <!-- google fonts link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
</head>
<body>
  <!-- 헤더 섹션 -->
  <header>
    <a href="{{ url_for('home') if current_user.is_authenticated else url_for('home') }}" class="logo">FACE PSE</a>
    <div class="bx bx-menu" id="menu-icon"></div> <!-- "bx bx menu"를 "bx bx-menu"로 수정 -->
  </header>
  <section class="login" id="login">
    <div class="center-container">
        <div class="wrapper">
            <!-- <input type="text" class="input-field"> <textarea>를 <input type="text">로 수정 -->
            <h1>로그인</h1>
            <form method="post" action="/login">
              {{ form.csrf_token }}
              {{ form.useremail(placeholder="이메일") }}
              <br/>
              {{ form.password(placeholder="비밀번호") }}
              <br />
              <input type="submit" value="로그인" />
            </form>
            <p>계정이 없으신가요? <a href="/signup">회원가입</a></p>
            <script>
                // 페이지가 로드되었을 때 알림창 표시
                window.onload = function() {
                    {% if error_message %}
                    alert("{{ error_message }}");
                    {% endif %}
                }
            </script>
        </div>
    </div>
</section>
<!-- <script src="{{ url_for('static', filename='js/main.js') }}"></script> -->
</body>
</html>
